html, body{
font-family: Arial, sans-serif;
margin: 0;
background-color: rgb(158, 190, 216);
}
header{
background-color:  rgb(104, 163, 190);
padding: 40px;
text-align: center;
font-style: sans-serif;
}
h1{
font-size: 130px;
color: white;
}
header img{
border-radius: 174px;
width: 300px;
height: 300px;
border: 15px solid;
color:rgb(238, 242, 243);
}
p{
	font-size: 20px;
	font-style: italic;

}
ol{
	font-style: italic;
	font-size: 20px;
}
.content{

max-width: 900px;
margin: 0 auto;
padding: 0 20px;

}
img.big-image{

width: 780px;
height: 440px;
margin-left: 50px;



}
p.caption{
	text-align: center;
font-size: 40px;
color: black;
font-style: italic;
}
ul{

list-style: none;
padding: 0;
margin: 0;
}
a{
color: red;
text-decora3on: none;
}

footer{
margin-top: 20px;
padding: 40px 20px;
background-color: rgb(84, 123, 155);
font-size: 20px;
}
footer ul{
text-align: center;
}
footer ul li{
display: inline-block;
margin: 0 5px;
}
